.blog-item {
  width: 50rem;
  height: 17.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 20px -8px rgba(#000, .5);
  text-shadow: 0 0 1px rgba(0, 0, 0, .1);
  margin-bottom: 1.5rem;
  display: flex;
}
