.header-box {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  width: 100%;
  position: fixed;
  align-items: center;
  background: rgba($white, 0.95);
  font: 0.8rem 'Ubuntu', sans-serif;
  box-shadow: 0 1px 40px -8px rgba($black, 0.5);
  z-index: 2;
  transition:  all 500ms ease;
  &:visited {
    outline: none;
  }
}
.blog-log {
  font-size: 1.2rem;
  font-family: Consolas;
  margin-left: 2rem;
}
.nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 2rem;
}
.nav-item {
  position: relative;
  color: #666666;
  width: 5rem;
  height: 100%;
  text-align: center;
  line-height: 3.5rem;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 0.25rem;
    background: orange;
    transition: all 300ms ease;
  }
  &:hover::after {
    width: 100%;
    transition:  all 300ms ease;
  }
  &:hover {
    color: orange;
    .item-icon {
      fill: orange;
      animation: horizontal 2s ease infinite;
      animation-iteration-count: 1;
    }
  }
}
.item-icon {
  margin-right: 0.5rem;
  height: 1rem;
  width: 0.8rem;
  position: relative;
  top: 0.2rem;
  fill: #666666;
}
.search {
  margin-left: 1rem;
}
@keyframes horizontal {
  0% {
    transform: translate(0, 0);
  }
  6% {
    transform: translate(5px, 0);
  }
  12% {
    transform: translate(0, 0);
  }
  18% {
    transform: translate(5px, 0);
  }
  24% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(5px, 0);
  }
  100%,
  36% {
    transform: translate(0, 0);
  }
}
